doctype html
html
    head
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="../client/common/common.css")
        link(rel="stylesheet" href="../client/post/post.css")
    body
        div.container
            h1 Edit post
            form(action="" class="post editpost")
                span#id(style="display:none") #{result._id}
                label(for="title") Title
                input#title(type="text" value=result.title data-old=result.title required)
                label(for="categories") Categories
                select#categories(data-old=result.categories required)
                    option(value="IT") IT
                    option(value="Nature") Nature
                    option(value="News") News
                label(for="content") Content
                textarea#content(data-old=result.content required) #{result.content}
                button.editpost__btn(type="submit") Save
                p.editpost__status
                a(href="/posts") All Posts
        script(src="../client/common/common.js")
        script(src="../client/post/edit.js")
