doctype html
html
    head
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="../client/common/common.css")
        link(rel="stylesheet" href="../client/posts/posts.css")
    body
        div.container
            div.wrapper
                h1 Посты
                if login
                    div
                        span.login #{login}
                        a(href="/logout") Выйти
                else
                    a(href="/login") Войти
            div.posts__list
                if posts
                    each post in posts
                        a.posts__item(href="/post/"+post.id)
                            h3.posts__title #{post.title}
                            p.posts__categories #{post.categories}
                            p.posts__content #{post.content}
                else
                    p Постов еще нет

            a.btn(href="/create-post") Создать пост
    script(src="../client/common/common.js")
    script(src="client/posts/posts.js")
